{% extends 'base.html' %}

{% block content %}

<!-- ########################################################################################################################################## -->
<!-- BARRA DE BEM VINDO E INPUT DE TESTES DE DNS -->
        <section id="bar">
            <div class="container banner">
                <div id="user">
                    {% block subcontent %}
                        <h2>BUSCA POR <b class="name">MAC</b></h2>
                        <!-- Rest of the dashboard content -->
                    {% endblock %}
                </div>
                <div id="formulario">
                    <!-- CHAMA A FUNÇÃO RESOLVE_MAC QUANDO O MAC É ENVIADO -->
                    <form method="POST" action="{{ url_for('busca_mac.resolve_mac') }}" class="form-floating">
                        <input type="text" class="form-control" id="floatingInputValue" id="meuInput" name="mac_addr" placeholder="" required>
                        <label for="floatingInputValue">Insira aqui o MAC a ser consultado...</label>
                        <input type="submit" value="Iniciar">/
                    </form>
                    <!-- Tela de carregamento-->
                    <div id="carregando" class="loading-container">
                        <img id="carrega-img" src="/static/img/duck.gif" alt="Loading...">
                    </div>
                </div>
            </div>
        </section>
        <br><br>
        <!-- SÓ IMPRIME O ELEMENTO NA TELA SE UMA CONSULTA FOR REALIZADA -->
        <section id="mac">
            {% if manufacturer: %}
                <div class="mac container">
                    {{ manufacturer }}
                </div>
            {% endif %}
        </section>
        <!-- script para tela de carregamento e verificação da entrada do usuário-->
        <script >
            document.addEventListener("DOMContentLoaded", function() {
            var iniciarBotao = document.querySelector("input[type='submit']");
            var carregaImg = document.getElementById("carrega-img");

            iniciarBotao.addEventListener("click", function() {
                carregaImg.style.display = "block";
            });
            });
        </script>
{% endblock %}